.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo-section {
  display: flex;
  text-align: center;
  color: white;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.logo-section img {
  width: 32px;
  height: 32px;
}

.header_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  width: auto;
  height: 32px;
  border-radius: 100px;
  border: none;
  background-color: #a9e851;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.header_btn img {
  width: 16px;
  height: 16px;
}
